



*{margin:0; padding:0;}
body{

}
::selection{
	background:#ffff007d;
    color:white;
	
}
ul{
	margin:0;
	padding:0;
	list-style:none;	
	
}
a{
text-decoration:none;	
	color:white;
}
.floatleft{
	float:left;
	
}
.floatright{
	float:right;
	
}
.flow{
	overflow:hidden;
	
}
.clear{
	clear:both;
	
}

.width{
	width:1170px;
	margin:auto;

	
}
.header_area{
	background: rgba(214, 214, 214, 0.64);
    position: absolute;
    width: 100%;	
	
}
.logo{
    width: 270px;
    float: left;
	
}
.logo p{
    color: #444;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    padding: 8px 0px;
}
.logo p:hover{
    border-radius: 5px;
    background: #29A2CE;
    font-style: normal;
}
.home{
    width: 95px;
    text-align: center;
    float: left;
}
.home h2{
    font-size: 22px;
    padding: 4px;
    color: #ffffffb5;
}
.home h2:hover{
    font-size: 22px;
    padding: 4px;
    color: #4e4d4d94;
    border-radius: 5px;
    background: #29A2CE;
	font-style:italic;
}
.search-area{
    width: 605px;
    text-align: right;
    float: left;
}
.search-area i{}
.search-area i:hover{
	color:red;
}
.search{
    font-style: italic;
	font-family: 'Courgette', cursive;
    width: 170px;
    padding: 3px 19px 3px 12px;
    border: none;
    border-left: 1px solid red;
    border-radius: 5px 0px 0px 5px;
    font-size: 13px;
	margin-top: 7px;
}
.submit{
    padding: 1px 12px 1px 12px;
    border: none;
    border-right: 1px solid red;
    border-radius: 0px 5px 5px 0px;
    float: right;
    margin-top: 7px;
}
::placeholder{
	background:#bbb6b633;

}
.icon-area{
    width: 200px;
    float: right;
    text-align: right;
}
.facebook:hover{
    border-radius: 0px;
    background: #405FA2;
}
.email:hover{
	border-radius: 0px;
	background:#E65F4C;
}
.twitter:hover{
	border-radius: 0px;
	background:#32CDFD;
}
.facebook{
    border-radius: 20px 5px;
	display:inline-block;
}
.email{
    border-radius: 20px 5px;
	display:inline-block;
}
.twitter{
    border-radius: 20px 5px;
	display:inline-block;
}
.icon-area i{
    border-radius: 20px 5px;
    font-size: 18px;
    padding: 3px 15px 3px 15px;
    margin-top: 7px;
}
.icon-area i:hover{
	border-radius: 0px;
	

}

.banner_area{
    background: url(BG-img/1.jpg);
    height: 100vh;
    background-size: 100% 100%;
}
.logo-area{
    height: 100px;
    width: 100px;
    position: absolute;
    left: 49%;
    top: 10%;
    overflow: hidden;
    border-radius: 50%;
	transition: 1s;
}
.logo-area:hover{

}
.logo-area img{
	width:100%;
}
.banner_content{
    background: rgba(221, 221, 221, 0.44);
    position: absolute;
    top: 25%;
    width: 582px;
    left: 29%;
    padding: 23px;
	
}
.banner_content h2{
    text-align: center;
    font-size: 40px;
    color: #3c2f38bf;
    font-family: 'Lato', sans-serif;
    text-decoration: underline;
}
.banner_content p{
    color: #ffffffb5;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
	
}
.banner_content li{
    color: #ffffffb5;
    font-family: 'Lato', sans-serif;
    margin-left: 20px;
}
.name{
    background: #ffffff91;
    padding: 8px 10px 5px 8px;
    width: 332px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #29A2CE;
    font-size: 14px;
    font-family: 'Courgette', cursive;
    font-style: italic;
}
.textarea{
    background: #ffffff91;
    padding: 6px 10px 100px 8px;
    width: 556px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    font-family: 'Courgette', cursive;
    font-style: italic;
}
.send{
    padding: 8px 10px 5px 8px;
    width: 54px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    background: #29A2CE;
    color: white;
    float: right;
    margin-right: 8px;
}
.banner_content a{
display: inline-block;
    background: #1EA1F2;
    color: #fff;
    padding: 10px 15px;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 10px;
font-family: 'Lato', sans-serif;	
	
}
.overlay-area{
	width: 1170px;
    height: 112px;
    top: 80%;
    position: absolute;
    overflow: hidden;
}
.overlay-content{
    width: 150px;
    height: 110px;
    background: #0000004f;
    float: left;
    margin-left: 38px;
    margin-top: 0px;
	overflow: hidden;
	transition: 1s;
    border-radius: 10px;
}
.overlay-content:hover{
    background: #29A2CE;
}
.about{
	width: 150px;
    height: 110px;
    position: absolute;
	transition:1s;
}
.about h2{
    text-align: center;
    margin-top: 42px;
    color: #ffffffd1;
	transition: 1s;
}
.about:hover h2{
	margin-top:76px;
}
.about i{
    margin-left: 40px;
    font-size: 40px;
    padding: 8px 15px 8px 15px;
    background: #e8e0efb5;
    color: #0000009e;
    border-radius: 10px;
    margin-top: 200px;
    position: absolute;
    transition: 1s;
}
.about:hover i{
    margin-top: 12px;
}
.twtr i{
    background: #4fe0fe8a;
    color: #fffdfd;
}
.fb i{
    margin-left: 50px;
    background: #0037c28f;
    color: #fffdfd;
}
/*Gallery CSS*/
.gallery_area{
    margin-bottom: 50px;
    overflow: hidden;	
	
}
.gallery_content{}
.gallery_content h2{
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;	
	
}
.all_gallery{}
.all_gallery ul{}
.all_gallery ul li{
    float: left;
    width: 262px;
    height: 260px;
    margin-right: 28px;
    background: #ddd;
    overflow: hidden;
    margin-bottom: 20px;
    border: 1px solid #c3c3c3;
    box-shadow: 0px 1px 7px 0px black;
    border-radius: 50%;
	
}
.all_gallery ul li a{}
.all_gallery ul li a img{
    width: 100%;

}
footer p{
	clear:both;
	
}
/*clients*/
.clients_area{
    background: #c3bdbd;
    padding: 40px 0px;	
	
}
.clients_content{
     overflow: hidden;	
	
}
.single_clients{}
.clients_pic{
	width:150px;
	height:150px;
	background:#ddd;
	border-radius:50%;
	margin: auto;
	
}
.single_clients p{
	padding: 0px 170px;
    text-align: center;
    margin-top: 19px;
    margin-bottom: 19px;
	    font-family: 'Lato', sans-serif;
	
}
.single_clients button{
    border: none;
    background: transparent;
    text-decoration: underline;
    float: right;
    margin-right: 16%;	
	
}
/*--peralax--*/
.peralax-overlay{
    background: #05172194;
}
.peralax-area{
    background: url(img/Bg-2.jpg) no-repeat fixed 100%;
}
.peralax{
    padding-top: 100px;
    padding-bottom: 100px;
}
.peralax-content{
    width: 500px;
    margin: auto;
    text-align: center;
    border-radius: 8px;
}
.peralax-content h2{
    font-size: 22px;
    text-decoration: underline;
    padding: 10px;
    color: #ece6e6;
}
.peralax-content p{
    padding-bottom: 5px;
    color: white;
    font-size: 15px;
}
.peralax-content i{
    font-size: 59px;
    color: white;
    background: red;
    padding: 0px 30px 0px 30px;
    border-radius: 10px;
    margin-bottom: 20px;
}
/*--contact--*/
.contact_overlay{
    background: #00000078;
}
.contact_area{
    background: url(BG-img/3.jpg);
    background-size: 100% 100%;
}
.contact{
    padding-top: 50px;
    padding-bottom: 50px;
}
.contact_content{
    max-width: 620px;
    margin: auto;
    border-radius: 8px;
    border: 2px solid white;
}
.contact_content h2{
    color: white;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 10px;
    text-decoration: underline;
    word-spacing: 5px;
    text-align: center;
}
.contact_content p{
    font-size: 17px;
    color: #ffffffeb;
    padding-bottom: 10px;
    margin-left: 30px;
}
.contact-input {
    padding: 10px 16px 10px 14px;
    font-size: 13px;
    margin-right: 15px;
    border-radius: 5px;
    border: none;
    margin-left: 30px;
    width: 227px;
    font-style: italic;
    font-family: 'Courgette', cursive;
}
.contact_content h3{
    margin-top: 15px;
    margin-left: 30px;
    font-size: 16px;
    color: white;
}
.contact-textarea {
    margin-left: 30px;
    padding: 5px 355px 101px 6px;
    border-radius: 5px;
    width: 200px;
}
.contact_content i{
	font-size: 24px;
    background: #ffffffc7;
    padding: 3px 18px;
    color: #191515;
    border-radius: 3px;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 5px;
}
.contact_content i:hover{
    background: #29A2CE;
    color: #ffffffe0;
}
.{}